Mid 02. YOLOv11 for Reading 7-Segment Weight scales (LP7510 - LP7516)/Data/train/*
Mid 03. YOLOv11 ROI and Tesseract OCR for Reading 7-Segment Weight Scales (LP7510 - LP7516)/Data/train/*
Mid 04. Airbnb Scraper using LLM/_my_files/*